<!DOCTYPE html>
<!-- layout의 content로 table 을, links에는 link들을, scripts에는 script들을 넘긴다. 필요 없을 경우 ~{} empty fragment-->
<html th:replace="~{inc/layout::layout(~{::table}, ~{::link}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

  <!-- 페이지 개별 css를 어떻게 추가하는지 예시 -->
  <link href="/css/example.css" th:href="@{/css/example.css}" rel="stylesheet" type="text/css" />
  <link href="/css/example2.css" th:href="@{/css/example2.css}" rel="stylesheet" type="text/css" />

  <!-- 페이지 개별 javascript 등 기타 script를 추가하는 예시 -->
  <script type="text/javascript">

    /* check if enzyme input is valid */
    function validateEnzymeForm(event) {
        /* if the button is deleting enzyme, do not check */
        var buttonName = event.submitter.name;
        if (buttonName == "delete_enzyme"){
            return true;
        }

        /* check both upper and lowercase */
        var validAminoAcids = /^[ARNDCEQGHILKMFPSTWYVarnedceqghilkmfpstwyv]+$/;

        /* retrieve enzyme string input from document */
        var ntCut = document.getElementsByName("enzyme_nt_cut")[0].value;
        var ctCut = document.getElementsByName("enzyme_ct_cut")[0].value;

        /* check ntCut input */
        if (!validAminoAcids.test(ntCut) || ntCut.length < 1 || ntCut.length > 20) {
            alert("Invalid N-term cut. Must be 1-20 characters long and contain only valid amino acids: A, R, N, D, C, E, Q, G, H, I, L, K, M, F, P, S, T, W, Y, V.");
            event.preventDefault();
            return false;
        }

        /* check ctCut input */
        if (!validAminoAcids.test(ctCut) || ctCut.length < 1 || ctCut.length > 20) {
            alert("Invalid C-term cut. Must be 1-20 characters long and contain only valid amino acids: A, R, N, D, C, E, Q, G, H, I, L, K, M, F, P, S, T, W, Y, V.");
            event.preventDefault();
            return false;
        }

        return true;
    }
  </script>

<!-- Main content -->
<table width = "100%" border = "0" cellpadding = "0" cellspacing = "0">
    <tr>
        <td width = "10" height = "100%" rowspan = "2" align = "right" valign = "top" style = "padding-right:15px">
            &nbsp;
        </td>
        <td>
            <table border="0" cellspacing="2" cellpadding="2" id="TitTable">
                <tr>
                    <td align="left"><font class="drakBR" size="3">ADMINISTRATION&nbsp;&nbsp;</font>
                    <img src="/images/top_icon_01.gif" width="2" height="9"> &nbsp;<u>Configuration</u>&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/top_icon_01.gif" width="2" height="9"> &nbsp;<a href="searchlog" class="menu">Search Log</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/top_icon_01.gif" width="2" height="9"> &nbsp;<a href="users" class="menu">Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/top_icon_01.gif" width="2" height="9"> &nbsp;<a href="requestlog" class="menu">Request Log</a>
                    </td>
                    <td align="right" valign="bottom" style="padding-right:5px;">&nbsp;</td>
                </tr>
                <tr align="left">
                    <td><font color="blue"> &gt; Configuration</td>
                </tr>
            </table>
            <table width="800" border="0" align="left" cellpadding="1">
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9"><font class="drakBR"> Database<br/></td>
                </tr>
                <tr>
                    <td align = "left">
                        <table width="95%" border="0" align="left" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
                            <tr>    
                                <td class="grayTH" >Name</td>	
                                <td class="grayTH" >File</td>
                                <td class="grayTH"><div align="right">&nbsp;</div></td>
                            </tr>
                            <tbody th:if="${listDatabaseResponseDto != null}">
                                <tr th:each="item : ${listDatabaseResponseDto}">
                                    <form method="post" th:action="@{/admin/manage}">
                                        <input type="hidden" name="db_index" th:value="${item.id}" />
                                        <td class="grayTD">
                                            <input type="text" name="db_name" size="40" th:value="${item.name}" />
                                        </td>
                                        <td class="grayTD" th:text="${item.file}"></td>
                                        <td class="grayTD">
                                            <div align="right">
                                                <input type="submit" name="modify_db" class="btnSmall" value=" edit " />
                                                <input type="submit" name="delete_db" class="btnSmall" value=" unlink " />
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>                                                     
                            <tr>
                                <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
                                <td class="grayTD"><input name="db_name" type="text" size="40" /></td>
                                <td class="grayTD"><input name="db_file" type="file" size="40" /></td>
                                <td class="grayTD"><div align="right"><input name="add_db" type="submit" class="btnSmall" value=" upload " /></td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br>&nbsp;<br></td>
                </tr>
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9"><font class="drakBR"> Enzymes<br/></td>
                </tr>
                <tr>
                    <td align = "left">
                        <table width="95%" border="0" align="left" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
                            <tr>    
                                <td class="grayTH" >Name</td>
                                <td class="grayTH">At Nterm</div></td>
                                <td class="grayTH">At Cterm</div></td>
                                <td class="grayTH"><div align="right">&nbsp;</div></td>
                            </tr>
                            <tbody th:if="${listEnzymeResponseDto != null}">
                                <tr th:each="item : ${listEnzymeResponseDto}">
                                    <form method="post" th:action="@{/admin/manage}" onsubmit="return validateEnzymeForm(event)">
                                        <input type="hidden" name="enzyme_id" th:value="${item.id}" />
                                        <td class="grayTD">
                                            <input type="text" name="enzyme_name" size="40" th:value="${item.name}" />
                                        </td>
                                        <td class="grayTD">
                                            <input type="text" name="enzyme_nt_cut" size="25" th:value="${item.ntCleave}" />
                                        </td>
                                        <td class="grayTD">
                                            <input type="text" name="enzyme_ct_cut" size="25" th:value="${item.ctCleave}" />
                                        </td>
                                        <td class="grayTD">
                                            <div align="right">
                                                <input type="submit" name="modify_enzyme" class="btnSmall" value=" edit " />
                                                &nbsp;
                                                <input type="submit" name="delete_enzyme" class="btnSmall" value=" delete " />
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>                            
                            <tr>
                                <form method="post" th:action="@{/admin/manage}" onsubmit="return validateEnzymeForm(event)">
                                <td class="grayTD"><input name="enzyme_name" type="text" size="40"/></td>
                                <td class="grayTD"><input name="enzyme_nt_cut" type="text" size="25"/></td>
                                <td class="grayTD"><input name="enzyme_ct_cut" type="text" size="25"/></td>
                                <td class="grayTD"><div align="right"><input name="add_enzyme" type="submit" class="btnSmall" value=" add " /></div></td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br>&nbsp;<br></td>
                </tr>
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9"><font class="drakBR"> Modifications<br/></td>
                </tr>

                <tr>
                    <td align="left">
                        <table width="95%" border="0" align="left" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
                            <tr>    
                                <td class="grayTH" >Date</td>	
                                <td class="grayTH" >Version</td>
                                <td class="grayTH" >File</td>
                                <td class="grayTH"><div align="right">&nbsp;</div></td>
                            </tr>
                            <tbody th:if="${listModificationLogResponseDto != null}">
                                <tr th:each="item : ${listModificationLogResponseDto}">
                                        <td class="grayTD" th:text="${item.date}"></td>
                                        <td class="grayTD" th:text="${item.version}"></td>
                                        <td class="grayTD" th:text="${item.file}"></td>
                                        <td class="grayTD">
                                            <div align="right">
                                                &nbsp;
                                            </div>
                                        </td>
                                </tr>
                            </tbody>
                            <tr>
                                <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
                                <td class="grayTD"><input name="ptm_date" type="date" size="20" /></td>
                                <td class="grayTD"><input name="ptm_version" type="text" size="20" /></td>
                                <td class="grayTD"><input name="ptm_xml" type="file" size="50" /></td>
                                <td class="grayTD"><div align="right"><input name="ptm_add" type="submit" class="btnSmall" value=" update " /></td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br>&nbsp;<br></td>
                </tr>
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9"><font class="drakBR"> Software<br/></td>
                </tr>
                <tr>
                    <td align="left">
                        <table width="95%" border="0" align="left" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
                            <tr>    
                                <td class="grayTH">Name</td>	
                                <td class="grayTH"><div align="left">Release Date</div></td>
                                <td class="grayTH"><div align="left">Version</div></td>
                                <td class="grayTH">File</td>
                                <td class="grayTH"><div align="right">&nbsp;</div></td>
                            </tr>
                            <tbody th:if="${listSoftwareLogResponseDto != null}">
                                <tr th:each="softwareLog : ${listSoftwareLogResponseDto}">
                                    <td class="grayTD" th:text="${softwareLog.name}"></td>
                                    <td class="grayTD" th:text="${softwareLog.date}"></td>
                                    <td class="grayTD" th:text="${softwareLog.version}"></td>
                                    <td class="grayTD" th:text="${softwareLog.file}"></td>
                                    <td class="grayTD">
                                        <div align="right">
                                            &nbsp;
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
                                    <td class="grayTD"><select name="sftw_name">
                                        <option value="">Select --</option>
                                        <option value="MODa">MODa</option>
                                        <option value="DBond">DBond</option>
                                        <option value="NextSearch">NextSearch</option>
                                    </select>
                                    </td>
                                    <td class="grayTD"><div align="left"><input name="sftw_date" type="date" size="15" /></div></td>
                                    <td class="grayTD"><div align="left"><input name="sftw_version" type="text" size="10" /></div></td>
                                    <td class="grayTD"><div align="left"><input name="sftw_zip" type="file" size="50"/></div></td>
                                    <td class="grayTD"><div align="right"><input name="sftw_add" type="submit" class="btnSmall" value=" update "/></div></td>
                                </form>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td align="left">				
                    <table width="95%" border="0" align="left" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
                        <form method="post" th:action="@{/admin/manage}">
                                <td class="grayTH" width="70"><div align="right"><input name="modify_swmsg" type="submit" class="btnOrgSmall" value="  update  "/></div></td>
                                <td class="grayTH"><div align="left">Email message to a recipient</div></td>
                            </tr>
                                <tr>
                                    <td class="grayTD" valign="top" width="70"><div align="right">MODa</div></td>
                                    <td class="grayTD">
                                        <div th:if="${listSoftwareMsgMode != null}">
                                            <div th:each="msg1 : ${listSoftwareMsgMode}">
                                                <textarea name="modeMessage" rows="8" style="width:100%" th:text="${msg1.message}"></textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="grayTD" valign="top" width="70"><div align="right">DBond</div></td>
                                    <td class="grayTD">
                                        <div th:if="${listSoftwareMsgDbond != null}">
                                            <div th:each="msg2 : ${listSoftwareMsgDbond}">
                                                <textarea name="dbondMessage" rows="8" style="width:100%" th:text="${msg2.message}"></textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="grayTD" valign="top" width="70"><div align="right">NextSearch</div></td>
                                    <td class="grayTD">
                                        <div th:if="${listSoftwareMsgNextsearch != null}">
                                            <div th:each="msg3 : ${listSoftwareMsgNextsearch}">
                                                <textarea name="nxtsrchMessage" rows="8" style="width:100%" th:text="${msg3.message}"></textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="grayTD" valign="top" width="70"><div align="right">Signature</div></td>
                                    <td class="grayTD">
                                        <div th:if="${listSoftwareMsgSignature != null}">
                                            <div th:each="msg4 : ${listSoftwareMsgSignature}">
                                                <textarea name="signatureMessage" rows="8" style="width:100%" th:text="${msg4.message}"></textarea>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </form>
                </table>
                    </td>
                </tr>
                <tr>
                    <td><br>&nbsp;<br></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</html>