<!DOCTYPE html>
<!-- layout의 content로 table 을, links에는 link들을, scripts에는 script들을 넘긴다. 필요 없을 경우 ~{} empty fragment-->
<html th:replace="~{inc/layout::layout(~{::body}, ~{}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    /*<![CDATA[*/
    let timerID = null;
    function initTimer() {
        timerID = self.setTimeout(timeOut, 3000);
    }
    function timeOut() {
        clearTimeout(timerID);
        let logPath = /*[[ ${#URLEncoder.encode(processDto.logPath, 'UTF-8')} ?: '']*/ '';
        let xmlPath = /*[[ ${#URLEncoder.encode(processDto.xmlPath, 'UTF-8')} ?: '']*/ '';
        let msPath = /*[[ ${#URLEncoder.encode(processDto.msPath, 'UTF-8')} ?: '']*/ '';
        let dbPath = /*[[ ${#URLEncoder.encode(processDto.dbPath, 'UTF-8')} ?: '']*/ '';
        let decoyPath = /*[[ ${#URLEncoder.encode(processDto.decoyPath, 'UTF-8')} ?: '']*/ '';
        let multiPath = /*[[ ${#URLEncoder.encode(processDto.multiPath, 'UTF-8')} ?: '']*/ '';
        let engine = /*[[ ${processDto.engine} ?: '']*/ '';
        let url = /*[[ @{/process(execute='no', log=${logPath}, xml=${xmlPath}, ms=${msPath}, db=${dbPath}, dec=${decoyPath}, title=${processDto.title}, mi=${processDto.msIndex}, di=${processDto.dbIndex}, mul=${multiPath}, engine=${engine})} ]]*/ '';
        window.location = url;
    }
    /*]]>*/
</script>
<!-- 이게 진짠데 일단 processservice 부분이 오류가 있어서 임시로 아래 <body>만 사용
	<body th:onload="${processDto.finished or processDto.failed} ? '' : 'initTimer();'"> -->
<body>
<table width="95%" border="0" align="center" cellpadding="1">
    <tr>
        <td>
            <font size="3">Processing... <font class="blue"><em th:text="${processDto.rate} + '%'"></em></font></font>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <td>to stop, click <a th:href="@{/dbond/dbond_search}">here</a></td>
    <tr>
        <td th:if="${processDto.output != null and processDto.output != ''}">
            <font class="dark">
                <pre th:text="${processDto.output}"></pre>
            </font>
        </td>
    </tr>
</table>
</body>
</html>