<!DOCTYPE html>
<!-- layout의 content로 table 을, links에는 link들을, scripts에는 script들을 넘긴다. 필요 없을 경우 ~{} empty fragment-->
<html th:replace="~{inc/layout::layout(~{::body}, ~{}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    /*<![CDATA[*/
    let timerID = null;
    function initTimer() {
        timerID = self.setTimeout(timeOut, 3000);
    }
    function timeOut() {
        clearTimeout(timerID);
        let logPath = /*[[${processDto.logPath} ?: '']*/ '';
        let xmlPath = /*[[${processDto.xmlPath} ?: '']*/ '';
        let msPath = /*[[${processDto.msPath} ?: '']*/ '';
        let dbPath = /*[[${processDto.dbPath} ?: '']*/ '';
        let decoyPath = /*[[${processDto.decoyPath} ?: '']*/ '';
        let multiPath = /*[[${processDto.multiPath} ?: '']*/ '';
        let engine = /*[[${processDto.engine} ?: '']*/ '';
        let url = /*[[@{/dbond/process(execute='no', log=${processDto.logPath}, xml=${processDto.xmlPath}, ms=${processDto.msPath}, db=${dbPath}, dec=${decoyPath}, title=${processDto.title}, mi=${processDto.msIndex}, di=${processDto.dbIndex}, mul=${processDto.multiPath}, engine=${processDto.engine})}]]*/ '';
        window.location = url;
    }
    /*]]>*/
</script>

<body th:onload="${processDto.finished or processDto.failed} ? '' : 'initTimer();'"> 
<table width="95%" border="0" align="center" cellpadding="1">
    <tr>
        <td>
            <font size="3">Processing... <font class="blue"><em th:text="${processDto.rate} + '%'"></em></font></font>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <td>to stop, click <a th:href="@{/dbond/dbond_search}">here</a></td>
    <tr>
        <td th:if="${processDto.output != null and processDto.output != ''}">
            <font class="dark">
                <pre th:utext="${processDto.output}"></pre>
            </font>
        </td>
    </tr>
</table>
</body>
</html>