<!-- ㅈㅍㅈㅅ
<%
	String id = (String)session.getAttribute("id");

	Context initContext = new InitialContext();
	Context envContext = (Context)initContext.lookup("java:/comp/env");
	DataSource ds = (DataSource)envContext.lookup("jdbc/PrixDB");
	Connection conn = ds.getConnection();
	
	String action = request.getParameter("action");
	boolean reloadOpener = false;
//	boolean addFailure = false;
	int addState = 0;

	if (id != null && action != null)
	{
		conn.setAutoCommit(false);
		String sql = "";
		if (action.compareTo("add") == 0)
		{
			if( request.getParameter("enzyme_name") == "" ){
				addState = 1;
			}
			else if( request.getParameter("enzyme_name").contains("|") ){
				addState = 5;
			}
			else{
				if( request.getParameter("nt_cleave") == "" && request.getParameter("ct_cleave") == "" ){
					addState = 2;
				}
				else{
					String cleaveStr = request.getParameter("ct_cleave");
					for(int c=0; c<cleaveStr.length(); c++){
						if( !Character.isLetter(cleaveStr.charAt(c)) ){
							addState = 3;
							break;
						}
					}
					cleaveStr = request.getParameter("nt_cleave");
					for(int c=0; c<cleaveStr.length(); c++){
						if( !Character.isLetter(cleaveStr.charAt(c)) ){
							addState = 3;
							break;
						}
					}
				}
			}

			if( addState == 0 ){
				Statement state = conn.createStatement();
				ResultSet rs = state.executeQuery("select id from px_enzyme where (user_id=0 or user_id=" + id + ") and name='" + request.getParameter("enzyme_name").replace("'", "\\\'") + "';");
				if (rs.next())
					addState = 4;
				//	addFailure = true;
				else
					sql = "insert into px_enzyme (user_id, name, nt_cleave, ct_cleave) values (" + id + ", '" + request.getParameter("enzyme_name").replace("'", "\\\'") + "', '" + request.getParameter("nt_cleave").toUpperCase() + "', '" + request.getParameter("ct_cleave").toUpperCase() + "');";
				rs.close();
				state.close();
			}
		}
		else if (action.compareTo("del") == 0)
			sql = "delete from px_enzyme where id=" + request.getParameter("id") + " and user_id=" + id + ";";
		if (sql.length() > 0)
		{
			PreparedStatement ps = conn.prepareStatement(sql);
			ps.executeUpdate();
			conn.commit();
			ps.close();
			reloadOpener = true;
		}
	}
%> -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
<title>PRIX - PRoteome InformatiX</title>
<link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<!-- <body <% if (id == null) out.print("onload='opener.location = \"../login.jsp?url=modplus/search.jsp\"; window.close();'"); /*else if (reloadOpener) out.print("onload=\"opener.location.reload();\"");*/ %>> -->
  <body>
<table border="0" cellspacing="0" cellpadding="0" id="TitTable">
  <tr>
    <td style="padding-left:15px;"><font class="blueB" size="3">ms/ms search </font> _ User enzyme list</td>
  </tr>
</table>
<table width="95%" border="0" align="center" cellpadding="1">
 	<tr>
      <td align="left"><font class="blue"><em>Define new enzyme rule</em></font></td>
	</tr>
</table>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
    <tr>    
      <td class="grayTH" >Name</td>
      <td class="grayTH">Nterm Cleave</td>
      <td class="grayTH">Cterm Cleave</td>
      <td class="grayTH"><div align="right">Add&nbsp;&nbsp;&nbsp;</div></td>
    </tr>
<form id="enzyme_add" method="post" action="enzyme_list">
<input type="hidden" name="action" value="add"/>
    <tr>      
      <td class="grayTD"><input name="enzyme_name" type="text" size=10/>&nbsp;&nbsp;</td>
      <td class="grayTD"><input name="nt_cleave" type="text" size=10/>&nbsp;&nbsp;</td>
      <td class="grayTD"><input name="ct_cleave" type="text" size=10/>&nbsp;&nbsp;</td>
	  <td class="grayTD"><div align="right"><input name="add_enzyme" type="submit" class="btnOrgSmall" value=" add " /></div></td>
    </tr> 
	<tr>      
      <td align="left"><font class="red">Ex)</font></td>
      <td><font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
      <td><font class="red">&nbsp;&nbsp;&nbsp;</font></td>
	  <td align="right">&nbsp;</td>
    </tr>
	<tr>      
      <td align="left"><font class="red">Trypsin</font></td>
      <td><font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
      <td><font class="red">&nbsp;&nbsp;&nbsp;KR</font></td>
	  <td align="right">&nbsp;</td>
    </tr>
	<tr>      
      <td align="left"><font class="red">Lys-N</font></td>
      <td><font class="red">&nbsp;&nbsp;K&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
      <td><font class="red">&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
	  <td align="right">&nbsp;</td>
    </tr>
	<tr>      
      <td align="left"><font class="red">Trypsin+Lys-N</font></td>
      <td><font class="red">&nbsp;&nbsp;K&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
      <td><font class="red">&nbsp;&nbsp;&nbsp;KR</font></td>
	  <td align="right">&nbsp;</td>
    </tr>;
</form>
</table>
<!-- ㅈㅍㅈㅅ
  <% 
    if ( addState == 1 )
	{
%>
	<font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Failed to add : enzyme name is empty.</font>
<%
	} 
	else if ( addState == 5 )
	{
%>
	<font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Failed to add : Character ' | ' cannot also be used in name.</font>
<%
	} 
	else if ( addState == 2 )
	{
%>
	<font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Failed to add : cleave is empty.</font>
<%  
	} 
	else if ( addState == 3 )
	{
%>
	<font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Failed to add : cleave should be the sequence of amino acids.</font>
<%  
	}
	else if ( addState == 4 )
	{
%>
	<font class="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Failed to add : enzyme name duplication.</font>
<%   
	}
%> -->
<br/>
<br/>
<table width="95%" border="0" align="center" cellpadding="1">
 	<tr>
      <td align="left"><font class="blue"><em>User-defined enzyme list</em></font></td>
	</tr>
</table>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
    <tr>    
      <td class="grayTH" >Name</td>
      <td class="grayTH"><div align="center">Nterm Cleave</div></td>
      <td class="grayTH"><div align="center">Cterm Cleave</div></td>
      <td class="grayTH"><div align="right">Delete</div></td>
    </tr>
<!-- ㅈㅍㅈㅅ
  <%
	if (id != null && conn != null)
	{
		Statement state = conn.createStatement();
		ResultSet rs = state.executeQuery("select * from px_enzyme where user_id=" + id + ";");
		while (rs.next())
		{
%>
	<tr>
		<td class="grayTD"><%=rs.getString(3)%></td>
		<td class="grayTD" align="center"><%=rs.getString(4)%></td>
		<td class="grayTD" align="center"><%=rs.getString(5)%></td>
		<td class="grayTD" align="right"><input type="button" class="btnBlueSmall" value=" del " onclick="document.location = 'enzyme_list.jsp?action=del&id=<%=rs.getInt(1)%>';"/></td>
	</tr>
<%
		}
		rs.close();
		state.close();
	}
%> -->

</table>
<br/>
<table cellpadding="1" width="95%" align="center" border="0">
  <tbody>
    <tr>
      <td align="right">
      <input name="button3322" type="button" onClick="window.close()" value=" Close " />
	  </td>
    </tr>
	<tr>
	 <td align="left">
			<font class="red">User-defined enzymes are * labeled in enzyme list of submit page.</font>
	  </td>
	</tr>
  </tbody>
</table>
<jsp:include page="/inc/pop_footer.jsp" flush="true" />
</body>
</html>

<!--ㅈㅍㅈㅅ
  <%
	if (conn != null)
		conn.close();
%> -->