<table height="100%" border="0" cellpadding="0" cellspacing="0" th:fragment="livesearch_menu">
    <tr>
      <td height="53"><img src="/images/subtit02.gif" width="161" height="53"></td>
    </tr>
    <tr>
      <td height="10"></td>
    </tr>
    <!--tr>
      <td height="32"></td>
    </tr>
    <tr>
      <td height="21" width="161" background="/images/submenu03_bk.gif" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>S E A R C H</td>
    </tr-->
  
    <tr>
      <td height="10"></td>
    </tr>
    <tr>
      <!-- on the construction -->
      <!--<td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;<a href="/modplus/search.jsp" class="menu">MODPlus</a></td>-->
      <td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;MODPlus</a></td>
    </tr>
   <tr>
      <td height="5"></td>
    </tr>
    <tr>
      <!-- on the construction -->
      <!--<td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;<a href="/dbond/dbond_search.jsp" class="menu">DBond</a></td>-->
      <td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;DBond</a></td>
    </tr>
       <td height="5"></td>
    </tr>
    <tr>
    <!-- on the construction -->
      <!--<td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;<a href="/ACTG/search.jsp" class="menu">ACTG</a></td>-->
      <td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;ACTG</a></td>
    </tr>
    <!-- This menue was closed because of error
    <tr>
      <td height="21" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/icon_5.gif" width="6" height="10">&nbsp;&nbsp;<a href="/by_UTRpept.jsp" class="menu">tUTR Search</a></td>
    </tr>
    -->
    <tr>
      <td height="100%" align="center" valign="bottom">&nbsp;</td>
    </tr>
  </table>
  