<table
  height="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  th:fragment="livesearch_menu"
>
  <tr>
    <td height="53">
      <img src="/images/subtit02.gif" width="161" height="53" />
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td height="21" valign="middle">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img src="/images/icon_5.gif" width="6" height="10" />&nbsp;&nbsp;
      <a th:href="@{/dbond/dbond_search}" class="menu"> DBond </a>
    </td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
  <tr>
    <td height="21" valign="middle">
      &nbsp;&nbsp;&nbsp;&nbsp;

      <img src="/images/icon_5.gif" width="6" height="10" />&nbsp;&nbsp;<a
        th:href="@{/ACTG/search}"
        class="menu"
        >ACTG
      </a>
    </td>
  </tr>
  <td height="5"></td>
  <tr>
    <td height="21" valign="middle">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img src="/images/icon_5.gif" width="6" height="10" />&nbsp;
      <a th:href="@{/patternMatch/patternMatchFrm}" class="menu"
        >Pattern Match
      </a>
    </td>
  </tr>
  <td height="5"></td>
  <tr>
    <td height="21" valign="middle">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img src="/images/icon_5.gif" width="6" height="10" />&nbsp;<a
        th:href="@{/livesearch/USE}"
        class="menu"
        >USE
      </a>
    </td>
  </tr>
  <tr>
    <td height="100%" align="center" valign="bottom">&nbsp;</td>
  </tr>
</table>
