<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="attern Match Result" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/ci.gif" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pattern Match Result</title>
    <link rel="icon" th:href="@{/images/ci.gif}" type="image/gif" />
  </head>

  <body>
    <li th:text=" ${dbType} +' Release : (' + ${date} + ')'"></li>
    <div style="margin: 15px" th:utext="${result}"></div>

    <br />

    <!--
      <script>
        const source = new EventSource("/patternMatch/patternMatchResult");
        
        source.onmessage = function (event) {
          document.getElementById("result").innerHTML += event.data;
        };
        
        source.onerror = function () {
          console.error("An error occurred while receiving updates.");
          source.close();
        };
      </script>
      -->
  </body>
</html>
