<!DOCTYPE html>
<html
  th:replace="~{inc/layout::layout(~{::table}, ~{::link}, ~{::script})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <link
    href="/css/example.css"
    th:href="@{/css/example.css}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="/css/example2.css"
    th:href="@{/css/example2.css}"
    rel="stylesheet"
    type="text/css"
  />

  <script>
    function submitFrm() {
      const form = document.forms["patternMatchFrm"];
      const pattern1 = form.elements["pattern1"].value;

      if (pattern1 === "") {
        alert("Pattern1 cannot be empty.");
        return false;
      }

      return true;
    }
  </script>

  <table width="1090" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td
        width="190"
        height="100%"
        rowspan="2"
        align="right"
        valign="top"
        style="padding-right: 15px"
      >
        <!-- left menu -->
        <div th:insert="~{livesearch/livesearch_menu :: livesearch_menu}" />
      </td>
      <td height="10" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" id="TitTable">
          <tr>
            <td align="left">
              <font class="drakBR" size="3">Pattern Match</font>
            </td>
            <td align="right" valign="bottom" style="padding-right: 5px">
              <table border="0" cellspacing="0" cellpadding="0" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <!-- Main content -->
  <table align="left">
    <tr>
      <td>
        <form
          name="patternMatchFrm"
          method="post"
          th:action="@{/patternMatch/patternMatchResult}"
          th:object="${patternMatchDto}"
          target="_blank"
          onsubmit="return submitFrm()"
        >
          <table width="300" align="left" style="margin-bottom: 15px">
            <tr></tr>
            <tr>
              <td>
                <font style="font-size: 11pt"><li>Select DATABASE</li></font
                ><br />
                &nbsp;&nbsp;<input
                  type="radio"
                  name="db_type"
                  th:field="*{db_type}"
                  value="0"
                  checked="on"
                />
                SWISS-PROT
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release
                <span th:text="${gd}"></span>
                <br />
                &nbsp;&nbsp;<input
                  type="radio"
                  name="db_type"
                  th:field="*{db_type}"
                  value="1"
                />
                GENBANK
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release
                <span th:text="${sd}"></span>
                <p>
                  <font style="font-size: 11pt"><li>Pattern Syntax</li></font
                  ><br />
                  &nbsp;&nbsp;<input
                    type="radio"
                    name="format_type"
                    th:field="*{format_type}"
                    value="0"
                    checked="on"
                  />
                  PROSITE regular expression<br />
                  &nbsp;&nbsp;<input
                    type="radio"
                    name="format_type"
                    th:field="*{format_type}"
                    value="1"
                  />
                  PYTHON regular expression
                </p>

                <p>
                  <font style="font-size: 11pt"><li>Input Pattern</li></font
                  ><br />
                  &nbsp;&nbsp;<input
                    type="text"
                    name="pattern1"
                    th:field="*{pattern1}"
                    size="20"
                  />&nbsp;AND<br />
                  &nbsp;&nbsp;<input
                    type="text"
                    name="pattern2"
                    th:field="*{pattern2}"
                    size="20"
                  />&nbsp;AND<br />
                  &nbsp;&nbsp;<input
                    type="text"
                    name="pattern3"
                    th:field="*{pattern3}"
                    size="20"
                  />&nbsp;AND<br />
                  &nbsp;&nbsp;<input
                    type="text"
                    name="pattern4"
                    th:field="*{pattern4}"
                    size="20"
                  />&nbsp;AND<br />
                  &nbsp;&nbsp;<input
                    type="text"
                    name="pattern5"
                    th:field="*{pattern5}"
                    size="20"
                  /><br />
                  <!--
                    &nbsp;&nbsp;<input type="hidden" name="db_id" th:value="${id}" />
                    -->
                </p>

                <p>
                  <font style="font-size: 11pt"><li>Search Option</li></font
                  ><br />
                  &nbsp;&nbsp;<input
                    type="checkbox"
                    name="check_species"
                    th:field="*{check_species}"
                    value="1"
                  />
                  Match To Species
                  <br />
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <select name="species" th:field="*{species}">
                    <option value="Homo sapiens">Homo sapiens</option>
                    <option value="Mus musculus">Mus musculus</option>
                    <option value="Rattus norvegicus">Rattus norvegicus</option>
                    <option value="Caenorhabditis elegans">
                      Caenorhabditis elegans
                    </option>
                    <option value="Drosophila melanogaster">
                      Drosophila melanogaster
                    </option>
                    <option value="Saccharomyces cerevisiae">
                      Saccharomyces cerevisiae
                    </option>
                    <option value="Escherichia coli">Escherichia coli</option>
                    <option value="Xenopus laevis">Xenopus laevis</option>
                  </select>
                  <br />

                  &nbsp;&nbsp;
                  <input
                    type="checkbox"
                    name="check_except"
                    th:field="*{check_except}"
                    value="1"
                  />
                  Without Sequence Data
                  <br />
                  &nbsp;&nbsp;
                  <input
                    type="checkbox"
                    name="check_order"
                    th:field="*{check_order}"
                    value="1"
                  />
                  Keep Pattern Order
                </p>

                <p></p>
              </td>
            </tr>
            <tr align="center">
              <td>
                <input
                  type="submit"
                  value="&nbsp;&nbsp;RUN&nbsp;&nbsp;"
                  class="btn"
                />&nbsp;
                <input type="reset" value="CANCEL" class="btn" />
              </td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
  </table>

  <table align="left">
    <tr>
      <td class="title_02">
        <li>How to search</li>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;<img src="/images/icon_10.gif" />&nbsp;'x', 'X', '.' means
        randomly selected character.<br />
        &nbsp;&nbsp;&nbsp;&nbsp;If you input mxa, mXa or m.a, you can search
        from maa to mza.<br />
        <br />
        &nbsp;&nbsp;<img src="/images/icon_10.gif" />&nbsp;X(number) Number
        means X was duplicated how many times<br />
        &nbsp;&nbsp;&nbsp;&nbsp;ex) ma(2) means maa. ma(3) means maaa.<br />
        <br />
        &nbsp;&nbsp;<img src="/images/icon_10.gif" />&nbsp;By using '&lt;' or
        '^', you can search from N-term location.<br />
        &nbsp;&nbsp;&nbsp;&nbsp;ex) &lt;ma or ^ma <br />
        <br />
        &nbsp;&nbsp;<img src="/images/icon_10.gif" />&nbsp;By using '&gt;' or
        '$', you can search from C-term location.<br />
        &nbsp;&nbsp;&nbsp;&nbsp;ex) ma&gt; or ma$<br />

        <br />
        &nbsp;&nbsp;<img src="/images/icon_10.gif" />&nbsp;This search program
        ignores '-' and ' '.
      </td>
    </tr>
  </table>
</html>
