 <!DOCTYPE html>
 <!-- layout의 content로 table 을, links에는 link들을, scripts에는 script들을 넘긴다. 필요 없을 경우 ~{} empty fragment-->
 <html th:replace="~{inc/layout::layout(~{::table}, ~{::link}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
 
   <!-- 페이지 개별 css를 어떻게 추가하는지 예시 -->
   <link href="/css/example.css" th:href="@{/css/example.css}" rel="stylesheet" type="text/css" />
   <link href="/css/example2.css" th:href="@{/css/example2.css}" rel="stylesheet" type="text/css" />
 
   <!-- 페이지 개별 javascript 등 기타 script를 추가하는 예시 -->
   <script>
     let a = 12;  
   </script>
   <script>
     let b = "hi";
   </script> 

<script language="javascript">
function request()
{
	var form = document.req;
	if (form.agreement[0].checked == true)
	{
		alert("You must accept the license agreement to download this software.");
		return;
	}
	if (form.name.value == '')
	{
		alert("Please input your name.");
		return;
	}
	if (form.affiliation.value == '')
	{
		alert("Please input your affiliation.");
		return;
	}
	if (form.title.value == '')
	{
		alert("Please input your title.");
		return;
	}
	if (form.instrument.value == '')
	{
		alert("Please input your instrument type.");
		return;
	}
	if (form.email.value == '')
	{
		alert("Please input your email address.");
		return;
	}
	var filter = /(\S+)@(\S+)\.(\S+)/;
	if (!form.email.value.match(filter))
	{
		alert("Invalid email address.");
		return;
	}
	
	form.submit();
}
</script> 

<table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td height="10" valign="top">
	
		<table border="0" cellspacing="0" cellpadding="0" id="TitTable">
		  <tr>
			<td align="left"><font class="drakBR" size="3">SOFTWARE REQUEST (<span th:text="${software}"></span>) </td>
			<td align="right" valign="bottom" style="padding-right:5px;">&nbsp;</td>
		  </tr>
		</table>
   </td>




  </tr>

  <form th:if="${success == 0}" name="req" method="post" th:action="@{/request}">
  <input type="hidden" name="software" th:value="${software}"/>
  <tr>
	<td>
	<table width="560" border="0" align="left" cellpadding="1">
		<tr><td><font size="3" class="blue">License Agreement<br><br></font>
<pre>
<img src="images/p_st1.GIF" width="4" height="9"> LICENSE INFORMATION
Eunok Paek ("Author") has the right to license on a non-exclusive
basis the parsing engine software that she, Eunok Paek, developed.

Eunok Paek grants to the individual academic researcher listed below
("Licensee") a non-exclusive, non-transferable run-time license to use the
accompanying parsing engine software ("Software"), subject to the restrictions
listed below under "Scope of Grant".

<img src="images/p_st1.GIF" width="4" height="9"> SCOPE OF GRANT
The Licensee may:
* use the Software for educational or research purposes;
* permit others UNDER THE LICENSEE'S SUPERVISION AT THE SAME SITE to use 
  the Software for educational or research purposes;
* copy the Software for archival purposes, provided that any such copy contains
  all of the original proprietary notices.

The Licensee may not:
* use the Software for commercial purposes;
* allow any individual who is not under the direct supervision of the Licensee
  to use the Software, without prior written permission from the Author;
* redistribute the Software, without prior written permission from the 
  Author;
* copy the Software other than as specified above;
* rent, lease, grant a security interest in, or otherwise transfer rights to 
  the Software;
* publish any research in which the Software was used without providing a
  citation acknowledging that the Software was developed at the Hanyang
  University by the Author and with a web URL at which the Software may
  be obtained;
* remove any proprietary notices or labels accompanying the Software.

<img src="images/p_st1.GIF" width="4" height="9"> DISCLAIMER
The Author makes no representations or warranties about the suitability of the
Software, either express or implied, including but not limited to the implied
warranties of merchantability, fitness for a particular purpose, or
non-infringement. The Author shall not be liable for any damages suffered by
Licensee as a result of using, modifying or distributing the Software or its
derivatives.

<img src="images/p_st1.GIF" width="4" height="9"> CONSENT
By downloading, using or copying the Software, Licensee agrees to abide by the
intellectual property laws, and all other applicable laws of the Republic of Korea,
and the terms of this License. Ownership of the Software shall remain solely with 
the Owner.

<img src="images/p_st1.GIF" width="4" height="9"> TERMINATION
The Author shall have the right to terminate this license at any time by
written notice. Licensee shall be liable for any infringement or damages
resulting from Licensee's failure to abide by the terms of this License.
</pre></td></tr>

		<tr>
			<td align="right"><input name="agreement" value="0xno" type="radio" checked>Decline&nbsp;&nbsp;&nbsp;<input name="agreement" value="1xyes" type="radio">Accept<td>
		</tr>
	</table>
	</td>


  </tr>
  <tr>
    <td align="left" valign="top" style="padding:10px;">

            <table width="560" border="0" cellpadding="0" cellspacing="0" id="gray" style="BORDER-BOTTOM: #d9dddc 1px solid; BORDER-TOP: #d9dddc 2px solid; ">
              <tr>
                <th width="250">Name</th>
                <td><input  name="name" type="text" size="55"></td>
              </tr>
              <tr>
                <th width="250">Affiliation</th>
                <td><input  name="affiliation" type="text" size="55"></td>
              </tr>
			  <tr>
                <th width="250">Title</th>
                <td><input  name="title" type="text" size="55"></td>
              </tr>
              <tr>
                <th width="250">E-mail (at the affiliated institute)</th>
                <td><input name="email" type="text" size="55">
				</td>
              </tr>
			  <tr>
                <th width="250">Instrument Type</th>
                <td><input  name="instrument" type="text" size="55">
				</td>
              </tr>
            </table>
            <br>
			<table width="560" border="0" cellpadding="0" cellspacing="0">
				<tr>
				<td align="right">
		     <input name="Cancel2223" type="button" class="btn" value="Cancel" onClick="window.location='publications'">
             <input name="Request222" type="button" class="btn" value="Request" onClick="request()">
			</tr>
			</table>
			
    </td>
  </tr>
  </form>

  <tr th:if="${success == 1}">
    <td align="left" valign="top" style="padding:10px;">
		<font class="blue">Your request has been successfully processed. You'll receive the software via email (<span th:text="${email}"></span>) in a few days.<br>If you don't receive the email, please contact <a class="under" href="mailto:prix@hanyang.ac.kr">Eunok Paek</a></font>
  </td>
  <tr th:if="${success == 2}">
	<td align="left" valign="top" style="padding:10px;">
		<font class="blue">Your request has not been processed. Please retry.<br>
		If this problem is not resolved, please contact <a class="under" href="mailto:prix@hanyang.ac.kr">Eunok Paek</a></font>
  </td>
</tr>

</table>

<jsp:include page="./inc/footer.jsp" flush="true" />
