/* default: tag */

A:link {
  color: #0080b3;
  font-weight: bold;
  text-decoration: underline;
}
A:visited {
  color: #0080b3;
  font-weight: bold;
  text-decoration: underline;
}
A:active {
  color: #0080b3;
  font-weight: bold;
  text-decoration: underline;
}
A:hover {
  color: #0080b3;
  font-weight: bold;
  text-decoration: underline;
}

BODY {
  margin: 0px;
}
/*TABLE		{ width:100%; }*/
TD {
  font-size: 12px;
  color: #5d5d5d;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;
}
blockquote {
  border: #dcdcdc 1px solid;
  padding-left: 15px;
  padding-right: 15px;
  color: #7d7d7d;
}
a {
  outline: none;
}

/*tab*/
.Tab {
  width: 100px;
  height: 15px;
  background-image: url(/images/tab01.gif);
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
.TabOver {
  width: 123px;
  height: 23px;
  background-image: url(/images/tab02.gif);
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #ffffff;
}

/* table: tag 
#MAIN TABLE			{ width:900px; }
#BACKbody TABLE		{ width:95%; }
#POPUP TABLE		{ WIDTH:100%; }
#BODY TABLE	{ WIDTH: 100%; padding-left:15px; }*/

#TitTable {
  border-bottom: #cfd3cf 1px solid;
  vertical-align: bottom;
  width: 100%;
  height: 35px;
  margin-top: 18px;
  margin-bottom: 20px;
}

#results TH {
  border-top: #d9dddc 1px solid;
  border-bottom: #d9dddc 2px solid;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding: 10px 3px 10px 3px;
  font-size: 12px;
  color: #7a7a7a;
  text-align: left;
  text-decoration: none;
}
#results TD {
  padding: 5px 5px 7px 5px;
  border-bottom: #dedede 1px solid;
}
#contents table {
  width: auto;
}
#contents td {
  border: 0px;
  background-color: #ffffff;
  padding: 0px;
  line-height: 180%;
  font-size: 12px;
  color: #7a7a7a;
  text-align: left;
  text-decoration: none;
}
#gray TH {
  background-color: #f3f3f3;
  padding: 6px 3px 3px 10px;
  border-bottom: #d9dddc 2px solid;
  font-size: 12px;
  color: #656565;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
}
#gray TD {
  padding: 6px 3px 3px 6px;
  border-bottom: #d9dddc 1px solid;
}
.grayTable {
  background-color: #fafce0;
  padding: 6px 3px 3px 10px;
  border-bottom: #d9dddc 1px solid;
  border-top: #d9dddc 1px solid;
  font-size: 12px;
  color: #656565;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}
.grayTD {
  padding: 6px 3px 3px 6px;
  border-bottom: #d9dddc 1px solid;
}
.grayTH {
  background-color: #f3f3f3;
  padding: 2px 3px 2px 10px;
  border-bottom: #d9dddc 2px solid;
  font-size: 12px;
  color: #656565;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
}

/* form: tag */
INPUT {
  border-right: #aaaaaa 1px solid;
  border-top: #aaaaaa 1px solid;
  border-left: #aaaaaa 1px solid;
  border-bottom: #aaaaaa 1px solid;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
  background-color: #ffffff;
  height: 20px;
}
select {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
}
TEXTAREA {
  border-right: #aaaaaa 1px solid;
  border-top: #aaaaaa 1px solid;
  border-left: #aaaaaa 1px solid;
  border-bottom: #aaaaaa 1px solid;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #383838;
  background-color: #ffffff;
}
.TRANS {
  border: 0px solid #ffffff;
}
.CHECK {
  border: 0px;
  margin: 0px;
  background-color: transparent;
}
.DARK {
  border: 1px solid #5f5f5f;
  background-color: #414141;
  color: #989898;
  padding-left: 3px;
}

/* btn: tag */
input.btn {
  background-image: url(/images/bg_btn.gif);
  background-color: #ededed;
  border-top: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
  font-weight: bold;
  height: 28px;
}
input.btnSmall {
  background-image: url(/images/bg_btnSmall.gif);
  background-color: #ededed;
  border-top: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
  height: 20px;
}
input.btnBlue {
  background-image: url(/images/bg_btnBlue.gif);
  background-color: #dfeff3;
  border-top: 1px solid #3888dc;
  border-left: 1px solid #3888dc;
  border-right: 1px solid #95cae8;
  border-bottom: 1px solid #95cae8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  height: 28px;
}
input.btnBlueSmall {
  background-image: url(/images/bg_btnBlueSmall.gif);
  background-color: #dfeff3;
  border-top: 1px solid #3888dc;
  border-left: 1px solid #3888dc;
  border-right: 1px solid #95cae8;
  border-bottom: 1px solid #95cae8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  height: 20px;
}
input.btnOrg {
  background-image: url(/images/bg_btnOrg.gif);
  background-color: #f8e9d0;
  border-top: 1px solid #ff7428;
  border-left: 1px solid #ff7428;
  border-right: 1px solid #fbc499;
  border-bottom: 1px solid #fbc499;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  height: 28px;
}
input.btnOrgSmall {
  background-image: url(/images/bg_btnOrgSmall.gif);
  background-color: #f8e9d0;
  border-top: 1px solid #ff7428;
  border-left: 1px solid #ff7428;
  border-right: 1px solid #fbc499;
  border-bottom: 1px solid #fbc499;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  height: 20px;
}

input.btnOrgAct {
  background-image: url(/images/bg_btnOrgSmall.gif);
  background-color: #ededed;
  border-top: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 23px;
}

input.btnBlueAct {
  background-image: url(/images/bg_btnBlueSmall.gif);
  background-color: #ededed;
  border-top: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 23px;
}

input.btnAct {
  background-image: url(/images/bg_btnSmall.gif);
  background-color: #ededed;
  border-top: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 23px;
}

.NOstyle {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* text tag */

p {
  line-height: 180%;
}
img {
  border: 0px;
}
.monospace {
  font-family: Hack, monospace;
}

.gray {
  color: #919090;
  font-weight: normal;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.drak {
  color: #4e4d4d;
  font-weight: normal;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.graySmall {
  color: #a1a1a1;
  font-size: 9px;
  font-family: "Arial, Helvetica, sans-serif";
  line-height: 16px;
  word-spacing: -1px;
}
.grayS {
  height: 1px;
  background-color: #d9e1ff;
}
.white {
  color: #ffffff;
}
.blue {
  color: #4189cf;
}
.blueB {
  color: #4189cf;
  font-weight: bold;
}
.blue2B {
  color: #6799cb;
  font-weight: bold;
}
.white2B {
  color: #ffffff;
  font-weight: bold;
}
.red {
  color: #ff4f64;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.redB {
  color: #ff4f64;
  font-weight: bold;
}
.org {
  color: #ff8927;
}
.orgB {
  color: #ff8927;
  font-weight: bold;
}
.yelB {
  color: #f6edc4;
  font-weight: bold;
}
.drakB {
  color: #4e4d4d;
  font-weight: bold;
}
.drakBR {
  color: #4e4d4d;
  font-weight: bold;
  padding-right: 7px;
}
.copy {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a1a4a6;
  background: #f2f2f2;
  border-top: #dbdbdb 1px solid;
  margin-top: 30px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  vertical-align: top;
}
.xxx {
  color: #24468a;
  box-shadow: 1px 1px #4e4d4d;
  height: 1px;
}

.yyy {
  color: white;
  text-shadow: 5px 5px 5px black;
}
.zzz {
  color: #24468a;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 5px 5px 5px black;
  font-family: "Trebuchet MS";
  letter-spacing: 2px;
}
/* Navigation  text
.Navi { COLOR: #c5c5c5; font-size: 11px; line-height:14px; word-spacing:-1px; FONT-FAMILY: µ¸¿ò; }
.Navi A:link		{ COLOR: #c5c5c5; text-decoration: none; font-weight:normal; }
.Navi A:hover	{ COLOR: #c5c5c5; text-decoration: none; font-weight:normal;  }
.Navi A:visited	{ COLOR: #c5c5c5; text-decoration: none; font-weight:normal;  }
.Navi A:active	{ COLOR: #c5c5c5; text-decoration: none; font-weight:normal;  }



.News { FONT-SIZE: 12px; COLOR: #919090; line-height:120%; padding-right:10px; }
.News A:link		{ COLOR: #919090; text-decoration: none; font-weight:normal; }
.News A:hover	{ COLOR: #000000; text-decoration: none; font-weight:normal;  }
.News A:visited	{ COLOR: #919090; text-decoration: none; font-weight:normal;  }
.News A:active	{ COLOR: #919090; text-decoration: none; font-weight:normal;  } */

.dot {
  background-image: url(/images/default/icon_dot.gif);
  background-repeat: repeat-x;
  background-position: center center;
}
.dotH {
  background-attachment: fixed;
  background-image: url(/images/default/icon_dotH.gif);
  background-repeat: repeat-y;
  background-position: center center;
}
.subTlt {
  background-attachment: fixed;
  background-image: url(/images/default/bg_tlt.gif);
  background-repeat: repeat-x;
  background-position: center top;
}
.tlt {
  font-size: 12px;
  font-weight: bold;
  word-spacing: -1px;
  color: #4493de;
  padding-top: 10px;
  padding-bottom: 10px;
}
.info {
  background-color: #eceff3;
  border: 1px dashed #acc8ef;
  padding: 5px;
}
.dotInfo {
  border: 1px dashed #dddddd;
  background-color: #f3e2a9;
  padding: 5px;
}
.dotWhite {
  border: 1px dashed #dddddd;
  background-color: #ffffff;
  padding: 5px;
}
.colorInfo {
  border: 1px solid #9dbfd0;
  background-color: #e9eff3;
  padding: 5px;
}
.orgInfo {
  background-color: #fff0e3;
  border: 1px dashed #ffd4af;
  padding: 5px;
}
.orgItem {
  background-color: #ffe4cc;
  border-top: 1px solid #ffb777;
  border-bottom: 1px solid #ffb777;
  padding: 4px;
}

.page {
  font-weight: bold;
  text-decoration: none;
}
.page A:link {
  font-weight: normal;
  text-decoration: none;
  color: #3c3c3c;
}
.page A:visited {
  font-weight: normal;
  text-decoration: none;
  color: #3c3c3c;
}
.page A:hover {
  font-weight: normal;
  text-decoration: underline;
  color: #0072bc;
}
.page A:active {
  font-weight: normal;
  text-decoration: underline;
  color: #0072bc;
}

.rtop,
.rbottom {
  display: block;
}
.rtop *,
.rbottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.r1 {
  margin: 0 5px;
  background: #cccccc;
}
.r2 {
  margin: 0 3px;
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}
.r3 {
  margin: 0 2px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.r4 {
  margin: 0 1px;
  height: 2px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.box {
  margin: 0;
  padding: 5px 10px;
  border-left: #cccccc solid 1px;
  border-right: #cccccc solid 1px;
  font-size: 12px;
}

.cell_padding {
  padding: 5px;
}
.table_center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

a.top_menu:link {
  color: #919090;
  font-weight: normal;
  font-size: 11px;
  text-decoration: none;
}
a.top_menu:visited {
  color: #919090;
  font-weight: normal;
  font-size: 11px;
  text-decoration: none;
}
a.top_menu:active {
  color: #919090;
  font-weight: normal;
  font-size: 11px;
  text-decoration: none;
}
a.top_menu:hover {
  color: #4e4d4d;
  font-weight: normal;
  font-size: 11px;
  text-decoration: none;
}

a.tap_menu:link {
  color: #d5d5d5;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}
a.tap_menu:visited {
  color: #d5d5d5;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}
a.tap_menu:active {
  color: #d5d5d5;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}
a.tap_menu:hover {
  color: #d5d5d5;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}

a.menu:link {
  color: #4e4d4d;
  font-weight: normal;
  text-decoration: none;
}
a.menu:visited {
  color: #4e4d4d;
  font-weight: normal;
  text-decoration: none;
}
a.menu:active {
  color: #4e4d4d;
  font-weight: normal;
  text-decoration: none;
}
a.menu:hover {
  color: #990000;
  font-weight: normal;
  text-decoration: none;
}

a.viewmenu:link {
  color: #4e4d4d;
  font-weight: normal;
  text-decoration: none;
}
a.viewmenu:visited {
  color: #4e4d4d;
  font-weight: normal;
  text-decoration: none;
}
a.viewmenu:active {
  color: #4e4d4d;
  font-weight: normal;
  text-decoration: none;
}
a.viewmenu:hover {
  color: #990000;
  font-weight: normal;
  text-decoration: underline;
}

a.list:link {
  color: #0d3ea3;
  font-weight: normal;
  text-decoration: none;
}
a.list:visited {
  color: #0d3ea3;
  font-weight: normal;
  text-decoration: none;
}
a.list:active {
  color: #0d3ea3;
  font-weight: normal;
  text-decoration: none;
}
a.list:hover {
  color: #990000;
  font-weight: normal;
  text-decoration: underline;
}

a.under:link {
  color: #990000;
  font-weight: normal;
  text-decoration: none;
}
a.under:visited {
  color: #990000;
  font-weight: normal;
  text-decoration: none;
}
a.under:active {
  color: #990000;
  font-weight: normal;
  text-decoration: none;
}
a.under:hover {
  color: #990000;
  font-weight: normal;
  text-decoration: underline;
}

a.thmenu:link {
  color: #656565;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
a.thmenu:visited {
  color: #656565;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
a.thmenu:active {
  color: #656565;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
a.thmenu:hover {
  color: #0080b3;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
}

button.buttons {
  border-radius: 10%;
  border: none;
}
button.buttons:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
