<!DOCTYPE html>
<html th:replace="~{inc/layout::layout(~{::table}, ~{::link}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

  <link href="/css/example.css" th:href="@{/css/example.css}" rel="stylesheet" type="text/css" />
  <link href="/css/example2.css" th:href="@{/css/example2.css}" rel="stylesheet" type="text/css" />

  <script>
    // Function to validate the form
    function validateForm() {
      var email = document.forms["registrationForm"]["email"].value;
      var password = document.forms["registrationForm"]["password"].value;
      var confirmedPassword = document.forms["registrationForm"]["confirmedPassword"].value;

      if (email === "") {
        alert("Please input user ID");
        return false;
      }

      if (password === "") {
        alert("Please enter a password");
        return false;
      }

      if (password !== confirmedPassword) {
        alert("Passwords mismatch");
        return false;
      }

      return true;
    }
  </script>

  <!-- Main content -->
  <table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" id="TitTable">
          <tr>
            <td align="left"><font class="drakBR" size="3">REGISTRATION</font></td>
            <td align="right" valign="bottom" style="padding-right:5px;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="padding:10px;">
        <img src="/images/tit_join.gif" alt="Join">
        <div id="container" style="background: #fff; width:400px">
          <b class="rtop"><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b></b>
          <div class="box">
            <form name="registrationForm" method="post" th:action="@{/registration}" th:object="${newAccountDto}" onsubmit="return validateForm()">
              <table width="80%" border="0" cellpadding="0" cellspacing="0" id="gray">
                <tr>
                  <th>User ID</th>
                  <td><input name="email" type="text" size="30" th:field="*{email}"></td>
                </tr>
                <tr>
                  <th>Password</th>
                  <td><input name="password" type="password" size="30" th:field="*{password}"></td>
                </tr>
                <tr>
                  <th>Password (confirm)</th>
                  <td><input name="confirmedPassword" type="password" size="30" th:field="*{confirmedPassword}"></td>
                  <input type="hidden" name="level" value=""/>
                </tr>
              </table>
              <br>
              <input name="Submit2223" type="button" class="btn" value="Cancel" onclick="window.location='login'" />
              <input name="Submit22222" type="submit" class="btn" value="Register" />
            </form>
          </div>
          <b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
        </div>
      </td>
    </tr>
  </table>
</html>
