<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.ClassificationMapper">

  <select id="selectByClass" resultType="Integer">
    SELECT id FROM px_classification WHERE class = #{nodeName}
  </select>

  <select id="selectMax" resultType="Integer">
    SELECT max(id) FROM px_classification
  </select>

  <insert id="insertNew">
    INSERT INTO px_classification (class)
    VALUES (#{nodeName})

  </insert>

</mapper>
