<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.DatabaseMapper">

  <select id="findAll" resultType="com.prix.homepage.user.pojo.Database">
    SELECT id, name, file FROM px_database
  </select>

  <select id="selectById" resultType="com.prix.homepage.user.pojo.Database">
    SELECT data_id, file
    FROM px_database
    WHERE id = #{id}
  </select>

  <select id="selectIdByDataId" resultType="java.lang.Integer">
    SELECT id 
    FROM px_database 
    WHERE data_id = #{dataId}
  </select>
  
  <insert id="insertDatabase">
    INSERT INTO px_database (name, file, data_id) 
    VALUES (#{dbName}, #{dbPath}, #{index})
  </insert>

  <delete id="deleteById">
    DELETE FROM px_database WHERE id = #{id}
  </delete>

  <update id="update">
    UPDATE px_database SET name = #{name} WHERE id = #{id}
  </update>

</mapper>
