<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.DatabaseMapper">

  <select id="findAll" resultType="com.prix.homepage.user.pojo.Database">
    SELECT id, name, file FROM px_database
  </select>

  <delete id="deleteById">
    DELETE FROM px_database WHERE id = #{id}
  </delete>

  <update id="update">
    UPDATE px_database SET name = #{name} WHERE id = #{id}
  </update>

</mapper>
