<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.EnzymeMapper">

  <select id="findByUserId" resultType="com.prix.homepage.user.pojo.Enzyme">
    SELECT  name, nt_cleave, ct_cleave, id FROM px_enzyme WHERE user_id = #{userId}
  </select>

  <select id="selectIdByUserIdAndName" resultType="Integer">
    SELECT id FROM px_enzyme 
    WHERE (user_id = 0 OR user_id = #{userId}) 
    AND name = #{name}
  </select>

  <insert id="insertEnzyme">
    INSERT INTO px_enzyme (user_id, name, nt_cleave, ct_cleave) 
    VALUES (#{userId}, #{name}, #{ntCleave}, #{ctCleave})
  </insert>

  <delete id="deleteEnzyme">
    DELETE FROM px_enzyme 
    WHERE id = #{id} 
    AND user_id = #{userId}
  </delete>

  <select id="selectById" resultType="com.prix.homepage.user.pojo.Enzyme">
    SELECT  name, nt_cleave, ct_cleave FROM px_enzyme WHERE id = #{id}
  </select>
</mapper>