<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.SearchLogUserMapper">

    <select id="findAll" resultType="com.prix.homepage.user.pojo.SearchLogUser">
        SELECT * FROM px_search_log
    </select>

    <select id="findFile" resultType="String">
        SELECT name FROM px_data WHERE id = #{id}
    </select>

    <select id="findName" resultType="String">
        SELECT name FROM px_account WHERE id = #{id}
    </select>

</mapper>