<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.SoftwareMsgMapper">

  <select id="findById" resultType="com.prix.homepage.user.pojo.SoftwareMsg">
    SELECT message FROM px_software_msg WHERE id = #{id}
  </select>

  <update id="updateSoftwareMsg">
    UPDATE px_software_msg SET message = #{message} WHERE id = #{id}
  </update>

</mapper>