<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.user.dao.UsersMapper">

    <select id="findAll" resultType="com.prix.homepage.user.pojo.Users">
        SELECT id, name, email, affiliation, level FROM px_account
    </select>

    <delete id="deleteById">
    DELETE FROM px_account WHERE id = #{id}
    </delete>


</mapper>