<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prix.homepage.livesearch.dao.UserModificationMapper">
 
  <delete id="deleteByUserId">
    DELETE FROM px_user_modification WHERE user_id= #{id}
  </delete>

  <delete id="deleteByUserIdVar0">
    DELETE FROM px_user_modification WHERE variable=0 and user_id= #{id}
  </delete>

</mapper>